<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Simplicity</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/litera/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container py-5">
    <h1 class="mb-4 text-center">Simplicity</h1>
    <h3 class="mb-4 text-left">Tools</h3>
    <div class="list-group">
      <a href="/simplicity" class="list-group-item list-group-item-action">Template Generator</a>
      <a href="/qos" class="list-group-item list-group-item-action">QoS Calculator</a>
      <a href="/json_to_xml" class="list-group-item list-group-item-action">JSON → XML Converter</a>
    </div>
  </div>
</body>
</html>